{% extends '/frontOffice/base.html.twig' %}

{% block body %}
    <h1>Confirm Order</h1>
    <p>Please enter the verification code sent to your email to confirm your order:</p>
    <form method="post" action="{{ path('app_confirm_order', {'id': commande.id}) }}">
        <input  type="hidden" name="storedVerificationCode" value="{{ verificationCode }}" />
        <label  for="verificationCode">Verification Code:</label>
        <input class="form-control"  type="text" id="verificationCode" name="verificationCode" required />
        <button class="btn btn-primary" type="submit">Confirm Order</button>
    </form>
{% endblock %}
